* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  line-height: 1.6;
}

.container {
  width: 95%;
  max-width: 1080px;
  margin: 0 auto;
}

header {
  width: 100%;
  display: block;
}

.hero {
  width: 100%;
  padding: 1em;
  text-align: center;
  margin: 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 30vh;
  background: linear-gradient(to left, #22d3ee, #4ade80);
  color: white;
  border-radius: 4px;
}

main {
  min-height: 60vh;
}

.cards-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  padding: 2em;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(226, 215, 215);
  width: 100%;
  text-align: center;
  border-radius: 4px;
  font-size: 1.5em;
  text-decoration: none;
  color: #333;
  padding: 1.5em 2.5em;
}

.card-text {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  border-radius: 10px;
  background-color: #4c7add;
  box-shadow: 0 0 0 #fff;
  color: #fff;
}

/* accordion */
.accordion {
  background-color: #4ade80;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 16px;
}

.accordion:not(:last-of-type) {
  border-bottom: 1px solid #89dda8;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #0f923f;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 1em;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '+'; /* Unicode character for "plus" sign (+) */
  font-size: 16px;
  color: #ffffff;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '-'; /* Unicode character for "minus" sign (-) */
}

.list {
  padding-left: 2em;
}

.material {
  margin: 1em 0;
}

footer {
  margin: 1em 0 0 0;
  padding: 1em 0;
  width: 100%;
}

/* text utilities */

.bg-text {
  font-size: 3em;
}

.md-text {
  font-size: 2em;
}

.text-center {
  text-align: center;
}

/* media queries */
@media only screen and (max-width: 768px) {
  .cards-group {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 560px) {
  .bg-text {
    font-size: 2.5em;
  }

  .md-text {
    font-size: 1.5em;
  }
  .cards-group {
    grid-template-columns: 1fr;
  }
  .card {
    font-size: 1em;
    min-height: 120px;
  }
}
